<div class='container'>
  <h1>Account Settings</h1>
  <br>
  <div>
    <img src="{{picture}}" alt="profilePicture">
    <label for="username">Username: {{username}}</label>
    <label for="name">Name: {{name}}</label>
  </div>
  <br>
  <div>
    <label for="email">Email Address: {{email}}</label>
  </div>
  <br>
  <div>
    <label for="currentPassword"> Current Password: {{password}}</label>
    <a href='/users/change-password'>Change Password</a>
  </div>
  <br>
  <a href="/">Back to Homepage</a>
</div>