<div id='mainContent'>
  <h1>Note Dream</h1>
  <!-- Title above the taskbar -->
  <div class='taskbar'>
    <div class='task'>
      {{#if user}}
        Welcome,
        {{user.username}}!
        <a href='/users/logout'>Log Out</a>
        <a href='/users/accountSettings'>Account Settings</a>
      {{else}}
        <a href='/users/login'>Log In</a>
        <a href='/users/register'>Sign Up</a>
      {{/if}}
    </div>
  </div>

  <div class='description'>
    <p>Welcome to our music platform!</p>
    <p>Discover new music, save your favorite songs, and create playlists to fit
      every mood.</p>
    <p>Join us today to start enjoying the ultimate music experience.</p>
  </div>
<hr>
<div>
<h2>Top 5 User Songs</h2>
<table class='songTable'>
        <tr>
          <td class='columnLabels'>Name</td>
          <td class='columnLabels'>Genre</td>
          <td class='columnLabels'>Artist</td>
        </tr>
        {{#each songsInList}}
          <tr>
            <td class='cell'>{{name}}</td>
            <td class='cell'>{{genre}}</td>
            <td class='cell'>{{artist}}</td>
          </tr>
        {{/each}}
      </table>
</div>
  {{#each errors}}
    <div class='alert alert-danger'>
      {{this}}
    </div>
  {{/each}}
  <a href='/users/browse' class='btn btn-outline-info'>Browse Public Playlists</a>
  {{#if user}}
    <a href='/users/playlist' class='btn btn-outline-info'>View Your Playlists</a>
  {{/if}}
</div>
