<div id='mainContent'>
  {{#if user}}
    Welcome,
    {{user.username}}.
    <a href='/users/logout'>Log Out</a>
    <a href='/users/change-password'>Change Password</a>
  {{else}}
    <a href='/users/login'>Log In</a>
    <a href='/users/register'>Sign Up</a>
  {{/if}}
  <h1>Song Database</h1>
  <form method='post'>
    <div class='form-group'>
      <label for='search'>Search</label>
      <input class='form-control' id='search' name='search' />
    </div>
    <button type='submit'>Submit</button>
  </form>
  <button onclick='showSongs()'>Show Songs</button>
  {{#if user}}
  <a href='/users/playlist' class="btn btn-outline-info">Go to Playlists</a>
  {{/if}}
  <div id='songs'>
    <h2>Songs</h2>
    <table class='songTable'>
      <tr>
        <td class='columnLabels'>ID:</td>
        <td class='columnLabels'>Name:</td>
      </tr>
      {{#each songs}}
        <tr>
          <td class='cell'>{{id}}</td>
          <td class='cell'>{{name}}</td>
          <td class='cell'>{{genre}}</td>
          <td class='cell'>{{artist}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>